*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header{
    background-color: #2e298f;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid blueviolet;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button{
margin-left: 16px;
}

form{
    background-color: #e2d8d8;
    text-align: center;
    padding: 24px 0;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input, button{
    padding: 8px;
}

button{
    background-color: rgb(28, 186, 28);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#btn-cancelar{
background-color: #ed0d0d;
}

ul{
    display: flex;
    flex-wrap: wrap;

}

ul li{
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;

}

ul li img{
    width: 100%;
}

.overlay-imagem-link{
    padding: 16px;
    background-color: #0c040479;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a{
color: #fff;
text-decoration: none;
}

ul li:hover .overlay-imagem-link{
    opacity: 1;
}